html {
  box-sizing: border-box;
  font-family: Bevan, sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  margin: 0;
}

header {
  text-align: center;
  background-color: #79756f;
  border-top: 5px solid #595652;
  border-bottom: 5px solid #595652;
}

nav li {
  display: inline-block;
  padding: .5em .75em;
  margin: .3em;
  background-color: #713837;
  border-radius: 4px;
}

nav li:hover {
  background-color: #f33;
}
